<% title="About" %>
    <div class="container py-5 mt-5 h-100">
        <div class="text-center my-5">
            <h1>Team Axwee</h1>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-2">
                <div class="card">
                    <div class="card-img-actions">
                        <img class="card-img-top img-fluid" src="img/us/ivan.jpg" alt="">
                    </div>
                    <div class="card-body text-center">
                        <h6 class="font-weight-semibold mb-0">Ivan Gemota</h6>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <div class="card-img-actions">
                        <img class="card-img-top img-fluid" src="img/us/ellery.jpg" alt="">
                    </div>
                    <div class="card-body text-center">
                        <h6 class="font-weight-semibold mb-0">Ellery Basco</h6>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <div class="card-img-actions">
                        <img class="card-img-top img-fluid" src="img/us/jm.jpg" alt="">
                    </div>
                    <div class="card-body text-center">
                        <h6 class="font-weight-semibold mb-0">John Mark Bagamasad</h6>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <div class="card-img-actions">
                        <img class="card-img-top img-fluid" src="img/us/pablo.jpg" alt="">
                    </div>
                    <div class="card-body text-center">
                        <h6 class="font-weight-semibold mb-0">Pablo Jaymar Lureno III</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('partials/footer.ejs') %>