<% title="Change Password" %>
    <div class="container py-5">
        <div class="row mt-5  h-100">
            <div class="col-md-6 m-auto">

                <!--Card content-->
                <div class="card-body px-lg-5 pt-0">
                    <!-- Display error messeges -->
                    <%- include('partials/messeges.ejs') %>
                        <!-- Form -->
                        <form action="/api/user/update-pwd/<%- user._id %>" method="POST" class="bg-white rounded shadow-5-strong px-5 py-5">
                            <h1 class="info-color white-text text-center pb-2"><strong>Change Password</strong>
                            </h1>

                            <div class="form-outline mb-4">
                                <input type="password" id="currentPassword" name="currentPassword"
                                    class="form-control" />
                                <label class="form-label" for="password">Current Password <span
                                        class="form-required">*</span></label>
                            </div>

                            <div class="form-outline mb-4 mt-4">
                                <input type="password" id="newPassword" name="newPassword" class="form-control" />
                                <label class="form-label" for="password">New Password <span
                                        class="form-required">*</span></label>
                            </div>

                            <div class="form-outline mb-4">
                                <input type="password" id="confirmPassword" name="confirmPassword"
                                    class="form-control" />
                                <label class="form-label" for="password">Confirm Password <span
                                        class="form-required">*</span></label>
                            </div>

                            <!-- Submit button -->
                            <button type="submit" class="btn btn-primary btn-rounded btn-block">Change
                                password</button>

                            <!-- Back to settings -->
                            <div class="text-center mt-3">
                                <a href="/settings">Back to Settings</a>
                            </div>
                        </form>

                </div>


            </div>
        </div>
    </div>
    </div>