<% title="Gallery" %>
    <!-- Page Content -->
    <div class="container gallery-container">

        <h1 class="fw-light text-center text-lg-start mt-4 mb-0">Thumbnail Gallery</h1>

        <hr class="mt-2 mb-5">

        <div class="row g-5">
            <div class="card px-0 col-lg-4 col-md-2 col-4">
                <img src="https://mdbootstrap.com/img/new/standard/nature/182.jpg" class="card-img-top"
                    alt="Sunset Over the Sea" />
                <div class="card-body py-2 text-center">
                    <h5>Title</h5>
                    <p class="card-text">
                        @datasd
                    </p>
                </div>
            </div>
            <div class="card px-0 col-lg-4 col-md-4 col-6">
                <img src="https://mdbootstrap.com/img/new/standard/nature/182.jpg" class="card-img-top"
                    alt="Sunset Over the Sea" />
                <div class="card-body py-2 text-center">
                    <h5>Title</h5>
                    <p class="card-text">
                        @datasd
                    </p>
                </div>
            </div>
            <div class="card px-0 col-lg-4 col-md-4 col-6">
                <img src="https://mdbootstrap.com/img/new/standard/nature/182.jpg" class="card-img-top"
                    alt="Sunset Over the Sea" />
                <div class="card-body py-2 text-center">
                    <h5>Title</h5>
                    <p class="card-text">
                        @datasd
                    </p>
                </div>
            </div>
            <div class="card px-0 col-lg-4 col-md-4 col-6">
                <img src="https://mdbootstrap.com/img/new/standard/nature/182.jpg" class="card-img-top"
                    alt="Sunset Over the Sea" />
                <div class="card-body py-2 text-center">
                    <h5>Title</h5>
                    <p class="card-text">
                        @datasd
                    </p>
                </div>
            </div>
            <div class="card px-0 col-lg-4 col-md-4 col-6">
                <img src="https://mdbootstrap.com/img/new/standard/nature/182.jpg" class="card-img-top"
                    alt="Sunset Over the Sea" />
                <div class="card-body py-2 text-center">
                    <h5>Title</h5>
                    <p class="card-text">
                        @datasd
                    </p>
                </div>
            </div>

        </div>

        <!-- <div class="row text-center text-lg-start">

            <div class="col-lg-3 col-md-4 col-6">
                <img class="img-fluid img-thumbnail shadow-1-strong rounded"
                    src="https://source.unsplash.com/pWkk7iiCoDM/400x300" alt="">
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/aob0ukAYfuI/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/EUfxH-pze7s/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/M185_qYH8vg/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/sesveuG_rNo/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/AvhMzHwiE_0/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/2gYsZUmockw/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/EMSDtjVHdQ8/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/8mUEy0ABdNE/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/G9Rfc1qccH4/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/aJeH0KcFkuc/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/p2TQ-3Bh3Oo/400x300" alt="">
                </a>
            </div>
        </div>

    </div> -->



        <!-- <div class="container my-5 py-5">
        
        <div class="row"> -->



        <!-- <div class="lightbox">
                <div class="row">
                    <div class="col-lg-6">
                        <img src="https://mdbootstrap.com/img/Photos/Thumbnails/Slides/1.jpg"
                            data-mdb-img="https://mdbootstrap.com/img/Photos/Slides/1.jpg" alt="Table Full of Spices"
                            class="w-100 mb-2 mb-md-4 shadow-1-strong rounded" />
                        <img src="https://mdbootstrap.com/img/Photos/Thumbnails/Square/1.jpg"
                            data-mdb-img="https://mdbootstrap.com/img/Photos/Square/1.jpg"
                            alt="Coconut with Strawberries" class="w-100 shadow-1-strong rounded" />
                    </div>
                    <div class="col-lg-6">
                        <img src="https://mdbootstrap.com/img/Photos/Thumbnails/Vertical/1.jpg"
                            data-mdb-img="https://mdbootstrap.com/img/Photos/Vertical/1.jpg"
                            alt="Dark Roast Iced Coffee" class="w-100 shadow-1-strong rounded" />
                    </div>
                </div>
            </div>

            <div class="lightbox-gallery" id="lightbox-xxdz24s85"
                style="opacity: 1; pointer-events: initial; visibility: visible;">
                <div class="lightbox-gallery-loader" style="opacity: 0;">
                    <div class="spinner-grow text-light" role="status"><span class="sr-only">Loading...</span></div>
                </div>
                <div class="lightbox-gallery-toolbar" style="opacity: 0;">
                    <div class="lightbox-gallery-left-tools">
                        <p class="lightbox-gallery-counter">2 / 3</p>
                    </div>
                    <div class="lightbox-gallery-right-tools"><button class="lightbox-gallery-fullscreen-btn"
                            aria-label="Toggle fullscreen"></button><button class="lightbox-gallery-zoom-btn"
                            aria-label="Zoom in"></button><button class="lightbox-gallery-close-btn"
                            aria-label="Close"></button>
                    </div>
                </div>
                <div class="lightbox-gallery-content">
                    <div class="lightbox-gallery-image"
                        style="position: absolute; left: 0%; top: 0px; opacity: 1; transform: scale(1);"><img
                            alt="Coconut with Strawberries" draggable="false" class="active"
                            src="https://mdbootstrap.com/img/Photos/Square/1.jpg"
                            style="width: auto; max-width: 100%; height: 539px; top: 0px; left: 355px;"></div>
                    <div class="lightbox-gallery-image" style="position: absolute; left: 100%; top: 0px;"><img
                            alt="Dark Roast Iced Coffee" draggable="false"
                            src="https://mdbootstrap.com/img/Photos/Vertical/1.jpg"
                            style="height: 539px; max-height: 100%; width: auto; left: 420.5px; top: 0px;"></div>
                    <div class="lightbox-gallery-image" style="position: absolute; left: -100%; top: 0px;"><img
                            alt="Table Full of Spices" draggable="false"
                            src="https://mdbootstrap.com/img/Photos/Slides/1.jpg"
                            style="width: auto; max-width: 100%; height: 539px; top: 0px; left: 13.5px;"></div>
                </div>
                <div class="lightbox-gallery-arrow-left" style="opacity: 0;"><button aria-label="Previous"></button>
                </div>
                <div class="lightbox-gallery-arrow-right" style="opacity: 0;"><button aria-label="Next"></button></div>
                <div class="lightbox-gallery-caption-wrapper">
                    <p class="lightbox-gallery-caption">Coconut with Strawberries</p>
                </div>
            </div> -->

        <!-- <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg"
                    class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water" />
        
                <img src="https://mdbootstrap.com/img/Photos/Vertical/mountain1.jpg" class="w-100 shadow-1-strong rounded mb-4"
                    alt="Wintry Mountain Landscape" />
            </div>
        
            <div class="col-lg-4 mb-4 mb-lg-0">
                <img src="https://mdbootstrap.com/img/Photos/Vertical/mountain2.jpg" class="w-100 shadow-1-strong rounded mb-4"
                    alt="Mountains in the Clouds" />
        
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg"
                    class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water" />
            </div>
        
            <div class="col-lg-4 mb-4 mb-lg-0">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
                    class="w-100 shadow-1-strong rounded mb-4" alt="Waves at Sea" />
        
                <img src="https://mdbootstrap.com/img/Photos/Vertical/mountain3.jpg" class="w-100 shadow-1-strong rounded mb-4"
                    alt="Yosemite National Park" />
            </div> -->
        <!-- </div>

    </div> -->