<% title="Home" %>
    <div class="container-fluid d-flex align-items-center py-5 h-100">
        <div class="row">
            <div class="col-8">
                <div class="container-fluid">
                    <h1 class="text-center display-5 my-4">Featured</h1>
                    <!-- Carousel wrapper -->
                    <div id="carouselBasicExample" class="carousel slide carousel-fade" data-mdb-ride="carousel">

                        <div class="carousel-inner">
                            <% if(post.length> 0){ %>
                                <% const random=Math.floor(Math.random() * post.length); %>
                                    <% const featured=random %>
                                        <!-- Single item -->
                                        <div class="carousel-item active">
                                            <img src="<%- post[featured].img %>" class="d-block
                                                alt=" <%- post.title %>" style="height: 25rem; width: 50rem;
                                            object-fit: cover;" />
                                            <div class="carousel-caption d-none d-md-block">
                                                <h5>
                                                    <%- post[featured].title %>
                                                </h5>
                                                <p>
                                                    <% postUser.forEach(user=> {%>
                                                        <% let userId=JSON.stringify(user._id) %>
                                                            <% let authorId=JSON.stringify(post[featured].authorId) %>
                                                                <% if(userId==authorId) {%>
                                                                    <p><small>by&nbsp;</small></em>
                                                                        <strong>
                                                                            <%- `${user.firstName} ${user.lastName}` %>
                                                                        </strong>
                                                                    </p>
                                                                    <% }%>
                                                                        <%}) %>
                                                </p>
                                            </div>
                                        </div>
                                        <% } else { %>
                                            <div class="carousel-item active">
                                                <img src="img/bg/featured.jpg" class="d-block"
                                                    style="height: 25rem; width: 50rem; object-fit: cover;" />
                                                <div class="carousel-caption d-none d-md-block">
                                                    <h5>
                                                        The Starry Night
                                                    </h5>
                                                    <p>

                                                    <p><small>by&nbsp;</small></em>
                                                        <strong>
                                                            Vincent Van Gogh
                                                        </strong>
                                                    </p>

                                                    </p>
                                                </div>
                                            </div>
                                            <% } %>

                        </div>
                    </div>
                    <!-- Carousel wrapper -->
                </div>
            </div>
            <div class="col-4 d-flex align-items-center">
                <div class="container">
                    <div class="row d-flex flex-column">
                        <div class="col-6 mb-5 w-100">
                            <div class="my-4 px-4">
                                <h1 class=" display-6">Upload your creative work.</h1>
                            </div>
                            <div class="px-4">
                                <a href="/post" class="btn btn-primary btn-lg btn-rounded">Create New Post</a>
                            </div>
                        </div>
                        <div class="col px-4 mt-5 d-flex flex-column align-items-center justify-content-center">
                            <p>Explore the community of <strong>Axwee Gallery</strong></p>
                            <a role="button" href="/gallery" class="btn btn-outline-dark btn-rounded">Discover
                                more</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>