<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container">
        <div class="d-flex flex-fill">
            <!-- Left links -->
            <div class="container-fluid">
                <div class="d-flex">
                    <a class="navbar-brand" href="/"><strong>Axwee Art Gallery</strong></a>
                    <%if (locals.session.isLoggedIn) { %>
                        <ul class="d-flex row flex-row navbar-nav me-auto mx-lg-5 mx-sm-3 gx-md-3">
                            <li class="col nav-item">
                                <a class="nav-link active" aria-current="page" href="/home">Home</a>
                            </li>
                            <li class="col nav-item">
                                <a class="nav-link" href="/gallery">Gallery</a>
                            </li>
                            <li class="col nav-item">
                                <a class="nav-link" href="/about">About</a>
                            </li>
                        </ul>
                        <% } %>
                </div>
            </div>

            <!-- Right links -->
            <div class="d-flex justify-content-end">
                <%if (!locals.session.isLoggedIn) { %>
                    <a class="btn btn-link px-3 me-2" href="/login" role="button">
                        Login
                    </a>
                    <a class="btn btn-primary me-3" href="/register" role="button">
                        Register
                    </a>
                    <% } else {%>
                        <div class="container-fluid">
                            <ul class="navbar-nav">
                                <!-- Avatar -->
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle d-flex align-items-center" href="#"
                                        id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown"
                                        aria-expanded="false">
                                        <img src="<%= user.img.profile %>" class="rounded-circle" height="30"
                                            loading="lazy" />
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <li>
                                            <a class="dropdown-item" href="/profile">My profile</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="/settings">Settings</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="/auth/logout">Logout</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                        <% } %>
            </div>
        </div>

    </div> <!-- Container wrapper -->

</nav>
<!-- Navbar -->